body {
  background-color: #00838F;
}

.container {
  max-width: 1000px;
  background-color: #00838F;
  font-size: 22px;
}


.mdc-button {
  width: 15vw;
  background-color: #18FFFF;
  color: #18FFFF;
  box-shadow: 2px 2px 2px gray;
}

.mdc-button-ripple {
  width: 15vw;
  background-color: #18FFFF;
}

.mdc-button__label {
  color: #E0F7FA;
  font-size: 20px;
  text-align: center;
}

.btn {
  background-color: #18FFFF;
}

#chart {
  overflow-y: scroll;
}

#chart {
  background: #eee;
  padding: 3px;
}

#chart div {
  width: 0;
  transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -webkit-transition: all 1s ease-out;
}

#chart div {
  height: 45px;
  font-size: 25px;
  background-color: #B2EBF2;
  text-align: right;
  padding: 3px;
  color: #00838F;
  box-shadow: 2px 2px 2px gray;
}

.form-control {
  background-color: #B2EBF2;
  color: #008;
  font-size: 20px;
  font-family: "acumin-pro","Acumin Pro","Helvetica Neue",Helvetica,Arial,sans-serif
}


.--mdc-theme-primary {
  color: #02eeae;
  background-color: #0c0d17; 
} 

.--mdc-theme-on-primary {
  background-color: #ececec;
}

.--mdc-theme-primary-bg {
  background-color: #0c0d17;
} 

.--mdc-theme-secondary {
  background-color: #0c0d17 
} 

.--mdc-theme-on-secondary {
  background-color: #ff5655;
}

.--mdc-theme-secondary-bg {
  background-color: #c39fef;
} 

