body {
  background-color: #00838F;
}

.container {
  /* max-width: 1000px; */
  background-color: #ececec;
  font-size: 22px;
}

#DescriptionDiv {
  float: left;
  max-width: 60%;
}

.mdc-button {
  width: 15vw;
  background-color: #ecc4b6;
  color: #ecc4b6;

  float: right;
  box-shadow: 5px 5px 5px gray;
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.mdc-button-ripple {
  width: 15vw;
  background: #62c5bd;
  background-color: #62c5bd;

}



#chart {
  overflow-y: scroll;
  background: #62c5bd;
  padding: 3px;
}

#chart:empty {
  display:none;
}

#chart div {
  width: 0;
  transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -webkit-transition: all 1s ease-out;
}

#chart div {
  height: 45px;
  font-size: 20px;
  background-color: #ecc4b6;
  text-align: right;
  padding: 3px;
  color: #09385E;
  box-shadow: 2px 2px 2px gray;
}

.form-control {
  background-color: #ececec;
  margin-bottom: 2vh;
  color: #0c0d17;
  font-size: 20px;
  width: 100%;
  padding-left: 10px;
  font-family: "acumin-pro","Acumin Pro","Helvetica Neue",Helvetica,Arial,sans-serif
}

.mdc-card {
  padding-right: 3%;
  padding-left: 3%;
  margin-right: 3%;
  margin-left: 3%;
  padding-top:1vh;
  padding-bottom: 2vh;
  background-color: #09385E;
  margin-top: 10vh;
  box-shadow: 10px 10px 10px gray;
}

.mdc-card #text-data {

  margin-left: 20%;

}

h1 {
  color: #121c1b;
  font-size: 32px;
  font-family: "acumin-pro","Acumin Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
  box-shadow: 2px 2px 2px gray;
  background-color: lightblue;
  text-align: center;
  margin-top: 5vh;
  padding-top: 1vh;
  padding-bottom: 1vh;
  margin-right: 5%;
  margin-left: 5%;
  font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px; 
}

h2 {
  color: #121c1b;
  font-size: 42px;
  font-family: "acumin-pro","Acumin Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
  box-shadow: 20px 20px 20px gray;
}

h4 {
  color: #ececec;
  font-size: 18px;
}

.table thead th  {
  font-size: 20px;
}

.table td {
  color: #ecc4b6;
}

.--mdc-theme-primary {
  color: #2b1b16;
  background-color: #213AA6; 
} 

.--mdc-theme-on-primary {
  background-color: #ecc4b6;
}

.--mdc-theme-primary-bg {
  background-color: #62c5bd; 
} 

.--mdc-theme-secondary {
  background-color: #2b1b16 
} 

/* .--mdc-theme-on-secondary {
  background-color: #ececec;
} */

.--mdc-theme-secondary-bg {
  background-color: #ecc4b6;
} 

.mdc-button:not(:disabled){
  background-color: #213aa6;
} 

.mdc-button:not(.mdc-button--outlined) {
  background-color: #ecc4b6;

  
}

.mdc-button__label {
  color: #121c1b;
  font-size: 20px;
  text-align: center;
} 

.mdc-button__label:hover {
  color: #ecc4b6;
  background-color: #ecc4b6;
} 

.mdc-button:not(.mdc-button--outlined):hover {
  background-color: #62c5bd;
  color: #ecc4b6;
}

.form-control {
  width: 100%;
  box-shadow: 2px 2px 2px gray;
}
.form-control::placeholder {
  font-size: 18px;
}
.form-control:invalid {
  background-image: none;
  width: 100%
}